In [2]:
#Dependencies
import pandas as pd

In [6]:
# Read the csv file into a pandas DataFrame
from datetime import date


df = pd.read_csv('Resources\cities_df.csv')
df = df.set_index('City_ID')
#Convert Date format
df['Date'] = pd.to_datetime(df['Date']).dt.date
#Round Lat and Long
df['Lat'] = df['Lat'].round(2)
df['Lng'] = df['Lng'].round(2)


df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,morant bay,17.88,-76.41,28.73,70,27,4.82,JM,1970-01-01
1,portland,45.52,-122.68,17.11,83,100,0.45,US,1970-01-01
2,batagay,67.63,134.63,4.01,97,100,3.21,RU,1970-01-01
3,los llanos de aridane,28.66,-17.92,23.86,91,75,2.57,ES,1970-01-01
4,chuy,-33.70,-53.46,15.41,73,15,5.18,UY,1970-01-01

In [14]:
# Use Pandas to convert the data to a HTML table string.
df_html = df.to_html()
df_html = df_html.replace('\n', '')

In [17]:
# Save the html to a file
df.to_html('Resources/table.html')